# Li Jiakai, A0252287Y
name: CI - Run Jest Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: "npm"

      - name: Install root dependencies
        run: npm ci

      - name: Install client dependencies
        run: npm ci --prefix ./client

      - name: Run Jest tests (without coverage)
        run: |
          npm run test:backend -- --coverage=false
          npm run test:frontend -- --coverage=false

  coverage:
    name: Check Coverage
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: "npm"

      - name: Install root dependencies
        run: npm ci

      - name: Install client dependencies
        run: npm ci --prefix ./client

      - name: Run Jest tests with coverage
        run: npm test
